<div>
    {{#each products}}
    <p>{{this.title}}</p>
    {{/each}}
    {{#if hasPrevPage}}
    <a href="/verproducts?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
    <a href="/verproducts?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>